@use "../../utilities" as util;
@use "../../vendors" as vend;

.slick-slide {
    max-height: 100%;

    div {
        max-height: 100%;
    }
}

.hero-home {
    max-height: 100%;

    .hero-overlay {
        position: absolute;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        max-height: 100%;
        z-index: 1;
        @include util.mix-responsive(
            "background-color",
            rgba(util.$var-primary-color, 0.5),
            (
                "m": rgba(util.$var-on-background-color, 0.5),
            )
        );
    }

    img {
        object-fit: cover;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        // max-height: 100%;
    }

    .chevron-down {
        position: absolute;
        bottom: 0.2em;
        font-size: 1.5em;
        color: purple;
        left: 50%;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
        animation-name: bounce-1;
        animation-timing-function: linear;
        z-index: 1000;
        height: 100px;
        width: 50px;
        @include util.mix-flex($align: flex-end);
    }

    @keyframes bounce-1 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-33px);
        }
        100% {
            transform: translateY(0);
        }
    }

    article {
        position: absolute;
        z-index: 3;
        max-width: 100%;
        max-height: 100%;
        @include util.mix-responsive(
            "bottom",
            0em,
            (
                "m": 6em,
                "ml": 7em,
                "l": 10em,
                "xl": 10em,
            )
        );
        @include util.mix-responsive(
            "right",
            0,
            (
                "m": 7em
            )
        );
        background-color: rgba(util.$var-primary-color, 0.6);
        @include util.mix-responsive(
            "width",
            100vw,
            (
                "m": 30%,
                "ml": 25%,
                "l": 20%,
                "xl": 20%,
            )
        );
        @include util.mix-responsive(
            "height",
            100vh,
            (
                "m": auto
            )
        );

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        main {
            position: absolute;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            padding: 0.5em 3em;
            color: util.$var-on-primary-color;
            @include util.mix-responsive(
            "top",
            30%,
            (
                "m": auto,
            )
        );

            h1 {
                @include util.mix-responsive(
                    "font-size",
                    2rem,
                    (
                        "xs": 3rem,
                        "s": 4rem,
                        "m": 4em,
                        "ml": 3em,
                        "l": 3em,
                        "l2": 4em,
                        "xl": 4em,
                    )
                );
            }

            .hero-tagline-text--selected {
                font-weight: bolder;
                color: util.$var-on-primary-color;
            }
        }
    }

    #tagline-1,
    #tagline-2,
    #tagline-3 {
        // @include util.mix-responsive(
        //     "display",
        //     none,
        //     (
        //         "m": block,
        //     )
        // );
    }

    .hero-tagline-outline {
        z-index: 2;
        border: 0.5em solid util.$var-background-color;
        @include util.mix-responsive(
            "display",
            none,
            (
                "m": block,
            )
        );
        @include util.mix-responsive(
            "width",
            0,
            (
                "m": 30%,
                "ml": 25%,
                "l": 20%,
                "xl": 20%,
            )
        );
        position: absolute;
        @include util.mix-responsive(
            "bottom",
            0,
            (
                "xs": 0,
                "s": 0,
                "m": 8em,
                "ml": 9em,
                "l": 11.5em,
                "xl": 11.5em,
            )
        );
        right: 4em;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }
}

#our-story {
    .our-story__divider {
        color: util.$var-primary-color;
        @include util.mix-responsive(
            "font-size",
            1rem,
            (
                "s": 2rem,
                "m": 3rem,
            )
        );
    }
}

#now-reading,
#next-event {
    img {
        border: 1px solid util.$var-primary-color;
    }
}
