<section class="hero-home">
    <div class="hero-overlay"></div>
    <div class="hero-slides">
        <img class="square-corner" src="../../images/read.gif">
        <img class="square-corner" src="../../images/travel.gif">
        <img class="square-corner" src="../../images/belong.gif">
    </div>

    <div class="hero-tagline-outline"></div>
    <article class="hero-tagline on-dark-background-color">
        <main>
            <a class="redirect" data-target="/reviews">
                <h1 id="tagline-1" class="hero-tagline-text--selected">Read</h1>
            </a>
            <a class="redirect" data-target="/events">
                <h1 id="tagline-2">Travel</h1>
            </a>
            <a class="redirect" data-target="/who-we-are">
                <h1 id="tagline-3">Belong</h1>
            </a>
        </main>
    </article>


    <a class="chevron-down" href="#now-reading">
        <i class="fas fa-chevron-down"></i></a>
    </a>

</section>

<section id="now-reading" class="container flow-text">
    <div class="row">
        <div class="col s12 center-align">
            <h3 class="uppercase">Now Reading</h3>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s12 m5 center-align">
            <h4>
                <img src="{{payload.bookCover}}">
            </h4>
        </div>

        <div class="col s12 m7">
            <article>
                {{#each payload.reasonForChoosing}}

                <p>{{this}}</p>

                {{/each}}
            </article>
        </div>
    </div>

</section>

<section id="next-event" class="container flow-text">
    <div class="row">
        <div class="col s12 center-align">
            <h3 class="uppercase">Next Event</h3>
        </div>
    </div>

    <div class="row valign-wrapper">
        <div class="col s12 m7 center-align">
            <h4>
                <img class="landscape-image" src="../../images/girlfriends-op.gif">
            </h4>
        </div>

        <div class="col s12 m5">
            <article>
                <h5><b>Girlfriends Trivia</b></h5>
                <h5><b>Friday, January 22, 2021 &mdash; 7PM ET</b></h5>

                <p>Join your friends and compete in some trivia</p>

                <a class="waves-effect light-btn btn btn-flat redirect" data-target="http://itslit.ticketleap.com/girlfriends-trivia/">Grab your tickets here!</a>
            </article>
        </div>
    </div>
</section>

<section id="vision" class="primary-background on-dark-background-color">
    <article class="container flow-text">
        <div class="row valign-wrapper">
            <div class="col s12 m8">
                <p>
                    We believe that just and diverse communities deserve joyful experiences that cultivate empathy,
                    knowledge,
                    and hope.
                </p>
            </div>

            <div class="col s12 m4 center-align">
                <a class="waves-effect btn btn-flat purple-btn redirect" data-target="/who-we-are">Click here to learn more!</a>
            </div>
        </div>



    </article>
</section>
<section id="our-story" class="container flow-text">

    <div class="row">
        <div class="col s12 center-align">
            <h1>
                The story so far...
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <h4 class="our-story__divider">
                ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p>
                <span class="initial-letter">I</span>n the winter of 2018, four friends separated by 300 miles decided
                to
                close
                the gap for one weekend by meeting halfway in Philly. This weekend came to be known as the inception of
                It's
                Lit.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p>
                It started off as a simple accountability group. While at the University of Pennsylvania bookstore,
                Ebonie,
                Precious, Miguel, and Lauren realized they shared a very similar list of books on their "Need to Read"
                list.
                They knew they could . . .
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a class="waves-effect light-btn btn btn-flat redirect" data-target="/who-we-are#our-story">(Check out the full story here)</a>
        </div>
    </div>

</section>