{{#extend 'main'}}
{{#content 'body'}}
<main>
    <section class="hero">
        <img class="hero__image square-corner" src="../../images/group.jpg" />
        <h1 class="hero__title on-dark-background-color large-text">
            We Believe...
        </h1>
    </section>

    <section class="secondary-background on-dark-background-color">
        <div class="container">
            <div class="row flow-text">
                <div class="col s12 center-align">
                    <p>
                        <b>We believe that just and diverse communities deserve joyful experiences that cultivate
                            empathy,
                            knowledge, and hope</b>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row valign-wrapper">
            <div class="col s12 m12 l6 center-align">
                <img class="large-vertical-image z-depth-3" src="../../images/group-2.jpg">
            </div>

            <div class="col s12 m12 l6 flow-text">
                <h3 class="bold">Our Promise to You</h3>
                <p>
                    We started off as just a book club, a traveling book club to be fair, but a book club nonetheless.
                    We were simply a group of friends that loved each other that wanted to spend more time together
                    throughout the year, especially as our personal pursuits were taking us farther away from each
                    other (<a class="link" href="#our-story">check out our full story below</a>). What we realized
                    though is that it
                    was a lot of work to create these spaces and experiences for ourselves, not just because of the
                    effort required to organize these types of events, but because we aren't seen in the same way as
                    white and privileged peoples. Through this experience we've grown up and grown closer to each other,
                    and now we want to share that with you.
                </p>
                <div></div>
                <p>
                    We believe that black and brown communities deserve more in general, but our goal is to create
                    spaces for people to learn about themselves, their communities, and the world around them through
                    meaningful experiences and relationships that spark joy and conversation.
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col s12 flow-text">
                <h1 class="bold">
                    Our core values reflect how we hope to interact with the world:</h1>
                <ul>
                    <li><b>Empathetic Consciousness</b> &mdash; We know that everyone has their own truth and
                        perspective, but that is not to say that we recognize all thoughts and opinions as facts.
                        It's not enough to be empathetic, you need to consciously do the work to break down the walls
                        and
                        discriminations that have been constructed within you. Systemic racism and privilege are not
                        merely external forces, they manifest within all of us in different ways, and we deserve it to
                        each
                        other to recognize that and challenge it. It is not sufficient to speak of justice, you must
                        take action.</li>
                    <br />
                    <li><b>Authentic Community</b> &mdash; We know that you can't just describe the people of this
                        world in one or a few words. People are happy, sad, Black, white, brown, gay, straight,
                        nonbinary, devout, agnostic, adventurous, rude, and a million other things. Sometimes all at
                        once and sometimes at different points in their lives. We believe that our interactions and
                        experiences with the world should reflect this diversity. Not only does it bring more joy into
                        our lives, but it also helps us grow and understand each other.</li>
                    <br />
                    <li><b>Growth and Vulnerability</b> &mdash; Everyday we show up open to new experiences and
                        perspectives. We don't expect to be the same people tomorrow that we are today and frankly we
                        don't want that. We know that change is difficult but we welcome the challenge.</li>
                </ul>
            </div>
        </div>

    </section>

    <section id="the-team" class="primary-background on-dark-background-color">

        <div class="container">

            {{#each payload}}
            <div class="row valign-wrapper">
                <div class="col s12 m3 center-align">
                    <img class="circle" src="{{image}}">
                </div>

                <div class="col s12 m8 offset-m1">
                    <article>
                        <h1>{{name}} &mdash; {{title}}</h1>

                        {{#each description}}
                        <p>{{this}}</p>
                        {{/each}}
                    </article>
                </div>
            </div>
            {{/each}}

        </div>
    </section>

    <section id="our-story" class="container flow-text">

        <div class="row">
            <div class="col s12 center-align">
                <h1 class="bold">
                    The story so far...
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <h4 class="our-story__divider">
                    ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>
                    <span class="initial-letter">I</span>n the winter of 2018, four friends separated by 300 miles
                    decided to
                    close
                    the gap for one weekend by meeting halfway in Philly. This weekend came to be known as the inception
                    of It's
                    Lit.
                </p>

                <p>
                    It started off as a simple accountability group. While at the University of Pennsylvania bookstore,
                    Ebonie,
                    Precious, Miguel, and Lauren realized they shared a very similar list of books on their "Need to
                    Read" list.
                    They knew they could each use some external pressure to accomplish their goal, so they agreed to
                    hold each
                    other
                    accountable. And why not travel somewhere at the same time as they were doing that weekend? And so
                    the book
                    club
                    began.
                </p>
                <p>
                    But not all was as it seemed, for Miguel, ever the skeptic, did
                    not believe this traveling book club would come to fruition, so he skipped the first meeting a few
                    months later in DC. He was proven devastatingly wrong when he saw the social media updates from
                    Ebonie,
                    Precious, and
                    Lauren meeting to discuss <i>An American Marriage</i>, with mimosas in hand. He's been on the
                    journey with
                    them
                    since.
                </p>
                <p>
                    Initially It's Lit hopped between their home cities of DC and NYC, but then branched out to other
                    locations
                    like
                    LA, New Orleans, and Pittsburgh. It was during the LA trip that the four friends began reflecting on
                    what
                    It's
                    Lit meant to each of them. It was no longer just an accountability group. It helped
                    them develop professionally by sharing technical skills and leveraging individual networks. It
                    provided them
                    with a source of emotional support as they were learned to navigate love and relationships. It
                    helped them
                    experience the world. Clearly this was something powerful and they wanted to share it with the world
                    at
                    large.
                </p>
            </div>
        </div>
    </section>
</main>
{{/content}}
{{/extend}}