<footer class="site-footer on-dark-background-color secondary-background">
    <main class="container">
        <section class="row">
            <div class="site-footer__left col s12 m3 center-align">
                <div class="site-footer__logo uppercase">
                    <div>
                        {{> logo}}
                        <h6 class="small-text"><i>Read. Travel. Belong.</i></h6>
                    </div>
                </div>
            </div>
            <article class="site-footer__right col s12 m8 offset-m1 left-align">
                <h1 class="uppercase"><b>Our Committment to You</b></h1>
                <p>We create space for people to learn about themselves, their communities, and the world through
                    meaningful
                    experiences and relationships.</p>
                <h1 class="uppercase"><b>Our Vision for the Future</b></h1>
                <p>We believe that just and diverse communities deserve joyful experiences that cultivate empathy,
                    knowledge, and hope.</p>
            </article>
        </section>
        <div class="row">
            <div class="col s12">
                <span id="contact-us-header"><b>Sign up to get the latest news on upcoming events:</b></span>
            </div>
        </div>
        <form id="subscription-form" class="site-footer__contact-us dark row valign-wrapper">
            <div class="col s12 m4">
                <div class="input-field">
                    <input name="first-name" id="first-name" type="text" class="subscription-form-input">
                    <label for="first-name">First Name*</label>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="input-field">
                    <input name="email" id="email" type="email" class="subscription-form-input validate">
                    <label for="email">Email Address*</label>
                </div>
            </div>
            <div class="col s12 m4">
                <a class="subscribe-btn brown-btn waves-effect waves-light btn">Submit</a>
            </div>
        </form>

        <section class="row">
            <main class="site-footer__social-media col s12 center-align">
                <a href="https://www.instagram.com/lauxtheauthor/"><i class="fab fa-instagram medium-text"></i></a>&nbsp;
                <a href="https://www.facebook.com/LAUXtheauthor/"><i class="fab fa-facebook-f medium-text"></i></a>&nbsp;
                <a href="https://twitter.com/LauxTheauthor"><i class="fab fa-twitter medium-text"></i></a>
            </main>
        </section>
    </main>
</footer>