<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

  <title>{{title}}</title>
  
  <link rel="icon" href="favicon.ico?v=1.1">
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>

  {{> header }}

  {{> body }}

  {{> footer }}

  <script src="/javascripts/main.js" async></script>

</body>

</html>